html,
body {
  height: 100%;
}

html {
  font-size: 125%;
  line-height: 1.4;
  font-family: Helvetica;
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 2fr;
  grid-template-areas:
    "header header header"
    "tambah-produk update-produk delete-produk"
    "produk produk produk";
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

[data-position="header"] {
  grid-area: header;
}

[data-position="tambah-produk"] {
  grid-area: tambah-produk;
}

[data-position="update-produk"] {
  grid-area: update-produk;
}

[data-position="delete-produk"] {
  grid-area: delete-produk;
}

[data-position="produk"] {
  grid-area: produk;
  overflow: scroll;
}

[data-position] {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  margin: 0;
}